header div {
	font-family: 'Nova Flat';
	font-size: 30px;
    display: inline-block;
	font-size: x-large;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 5em;
	padding-right: 5em;
}
header div p {
	border-radius: 15px;
	margin: 0;
	padding: 15px;
	background-color: rgb(105, 105, 105);
}
header div p:hover {
	background-color: rgb(168, 167, 167);
}
header {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(17, 17, 17);
    text-align: center;
}
body {
	margin: 0;
}

main {
	background-color: rgb(51, 51, 51);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

main div p {
	display: none;
	position: absolute;
	border-radius: 15px;
	background-color: rgba(128, 128, 128, 0.3);
	font-family: 'Nova Flat';
	font-size: 65px;
}
main div .gsw-text {
	top: 37%;
	left: 19%;
}
main div .valorant-text {
	top: 37%;
	left: 25%;
}
main div .anime-text {
	top: 37%;
	left: 32%;
}
main div {
	position: relative;
	top: 0;
	left: 0;
	width: 650px;
	height: 1000px;
}
main div img {

	position: relative;
	width: 650px;
	height: 1000px;
	left: 0px;
	top: 0px;
}


main div:hover img{
	filter: blur(15px);
}
main div:hover p{
	display: inline;
}
header a{
	text-decoration: none;
}

div a {
	background-color: rgb(93, 171, 164);
	border-radius: 10px;
	padding: 10px;
}

div a, div a:visited {
	color: black;
}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}